<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="icon" href="data:,">

<head>
  <meta charset="utf-8">
  <title>Vector's To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
